.swiper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 60%;
}

.parallax-bg {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    to right,
    rgba(255, 127, 95, 0.6),
    rgba(254, 180, 123, 0.7)
  );
}

.swiper-slide .title {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.swiper-slide .subtitle {
  font-size: 2.75rem;
  margin-bottom: 1.25rem;
}

.swiper-slide .text {
  font-size: 1.5rem;
  max-width: 50rem;
  line-height: 1.3;
}

.swiper-container {
  height: 100vh;
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 860px) {
  .swiper-slide .title {
    font-size: 3.75rem;
  }

  .swiper-slide .subtitle {
    font-size: 2rem;
  }

  .swiper-slide .text {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}

@media (max-width: 655px) {
  .swiper-slide .title {
    font-size: 3rem;
  }

  .swiper-slide .subtitle {
    font-size: 1.8rem;
  }

  .swiper-slide .text {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  .swiper-slide .title {
    margin-bottom: 1rem;
  }

  .swiper-slide .subtitle {
    margin-bottom: 1rem;
  }
}
