.navFooter {
  border-top: 2px solid rgba(208, 208, 208, 0.6);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navFooter ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}

.icon {
  width: 1.5rem;
}

.navFooter a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.navFooter li:hover {
  transform: scale(1.1);
  transition: all 0.2s;
  filter: invert(19%) sepia(97%) saturate(7484%) hue-rotate(0deg)
    brightness(104%) contrast(104%); /*change color to red*/
}

.navFooter li p:hover {
  filter: invert(19%) sepia(97%) saturate(7484%) hue-rotate(0deg)
    brightness(104%) contrast(104%);
}

.navFooter i p {
  font-size: 8px;
}
